/*==================== SKILLS ====================*/
.skill-child {
    margin-bottom: var(--mb-1-5);
    margin-right: var(--mb-1-5);
    background-color: var(--first-color);
    color: #fff;
    font-size: var(--title-color);
    padding: 0.5rem 2rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all .2s ease-in-out; 
}
.skill-child:hover {
    transform: scale(1.1); 
}