/*==================== PROJECT IN MIND ====================*/
.project {
    text-align: center;
}

.project__bg {
    background-color: var(--first-color-second);
    padding: 3rem 0;
}

.project__title {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-0-75);
}

.project__description {
    margin-bottom: var(--mb-1-5);
}

.project__title,
.project__description {
    color: #fff;
}

.project__info {
    display: flex;
    gap: 14px;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 2rem 0;
}

.project__info_item {
    display: flex;
    flex-flow: row wrap;
    width: 48%;
    border: 2px solid var(--body-color);
    border-radius: 8px;
    padding: 24px;
    transition: all .2s ease-in-out; 
}
.project__info_item:hover { 
    transform: scale(1.1); 
}
@media screen and (max-width: 768px) {
    .project__info_item {
        width: 100%;
    }
}

.project__info_item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: #fff;
}
.project__info_item-description {
    text-align: justify;
    font-size: var(--smaller-font-size);
    color: #fff;
}
  
.project__info_item-details-btn {
    margin: var(--mb-1-5) auto;
    padding: var(--mb-0-5) var(--mb-2-5);
    font-size: 14px;
    cursor: pointer;
    border: none;
}
.project__info_item .project__info_item-options {
    display: flex;
    flex-flow: row wrap;
    padding: 18px 0 18px 0;
    gap: 12px;
    color: #fff;
}