/*==================== QUALIFICATION ====================*/
.qualification__container {
    display: flex;
    flex-wrap: wrap;
}
.qualification__nav {
    display: flex;
    width: 100%;
    margin-bottom: var(--mb-0-75);
}
.qualification__nav_item {
    display: flex;
    width: 100%;

    border: none;
    border-bottom: 2px solid var(--first-color-second);
    text-decoration: none;
    padding: 1rem;

    color: var(--first-color);
    background-color: transparent;
}
.qualification__nav_item.active {
    border-bottom: 2px solid var(--title-color);
}
.qualification__nav_item:hover {
    background-color: var(--input-color);
    cursor: pointer;
}

.qualification__content_container {
    padding: 10px 5px;
    margin-left: 20px;
}
.qualification__content_container .qualification__content_container_title {
    font-size: var(--h3-font-size);
    color: var(---title-color);
}
.qualification__content_container .qualification__content_container_subtitle {
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-0-75);
    color: var(--text-color-light);
}
.qualification__content_container .qualification__content_container_content {
    font-size: var(--normal-font-size);
    color: var(--text-color-light);
}

@media screen and (max-width: 350px) {
    .qualification__data {
        gap: 0.5rem;
    }
}

@media screen and (min-width: 568px) {
    .qualification__sections {
        display: grid;
        grid-template-columns: 0.6fr;
        justify-content: center;
    }
}

@media screen and (min-width: 768px) {
    .qualification__tabs {
        justify-content: center;
    }
    .qualification__button {
        margin: 0 var(--mb-1);
    }
    .qualification__sections {
        grid-template-columns: 0.5fr;
    }
}